body {
  background: #f4f5f5;
  /* background: linear-gradient(to right, #0062E6, #33AEFF); */
}

body{
  margin: 0;
  padding: 0;
  display:block;
}
.alert{
  position: absolute;
  right: 10%;
  top: 10%;
  width: max-content;
}
.alert-box{
  display: none;
}
.active{
  display: block !important;
}