body {
  background: #f4f5f5;
  /* background: linear-gradient(to right, #0062E6, #33AEFF); */
}

body{
  margin: 0;
  padding: 0;
  display:block;
}
.alert{
  position: absolute;
  right: 15%;
  top: 10%;
  width: max-content;
  --bs-alert-padding-x: 1rem !important;
  --bs-alert-padding-y: 0.6rem !important;
  height: 50px;
  margin: 0;
}
.alert-box{
  display: none;
}
.active{
  display: block !important;
}
.btn-close{
  width: 0;
  height: 0;
}
@media (width < 768px){
  .alert{
    position: absolute;
    right: 15%;
    top: 10%;
    width: max-content;
    display: flex;
    justify-content: center;
  }
}